<div class="card">
 <div class="card-header">
  Student Inquiry Entry
 </div>
 <div class="card-body">
    <form #frm="ngForm" (ngSubmit)="save(frm)">
      <div class="row form-group">
        <div class="col-md-2"><label>Roll No</label></div>
        <div class="col-md-6">
          <input type=text name=rollNo class="form-control" [(ngModel)]="student.rollNo" #rollNo=ngModel required />
        </div>
        <div class="col-md-4">
          <div *ngIf="rollNo.errors">
              <span *ngIf="rollNo.invalid && rollNo.touched && rollNo.errors.required">
                RollNo is Required Field it can not be Blank.
              </span>              
          </div>
        </div>          
      </div>
      <div class="row form-group">
        <div class="col-md-2"><label>Name</label></div>
        <div class="col-md-6">
          <input type=text name=name class="form-control" [(ngModel)]="student.name" #name=ngModel required minlength="3"/>
        </div>
        <div class="col-md-4">
          <div *ngIf="name.errors">
              <span *ngIf="name.invalid && name.touched && name.errors.required">
                Name is Required Field.
              </span>              
              <span *ngIf="name.invalid && name.touched && name.errors.minlength">
                Min 3 Char Required in Name.
              </span>              
          </div>
        </div>          
      </div>
      <div class="row form-group">
        <div class="col-md-2"><label>Mobile No</label></div>
        <div class="col-md-6">
          <input type=text name=mobileNo class="form-control" [(ngModel)]="student.mobileNo" #mobileNo=ngModel required />
        </div>
        <div class="col-md-4">
          <div *ngIf="mobileNo.errors">
              <span *ngIf="mobileNo.invalid && mobileNo.touched && mobileNo.errors.required">
                Mobile No is Required Field.
              </span>                            
          </div>
        </div>          
      </div>
      <div class="row form-group">
        <div class="col-md-2"><label>Email</label></div>
        <div class="col-md-6">
          <input type=text name=email class="form-control" [(ngModel)]="student.email" #email=ngModel required />
        </div>
        <div class="col-md-4">
          <div *ngIf="email.errors">
              <span *ngIf="email.invalid && email.touched && email.errors.required">
                Email is Required Field.
              </span>                            
          </div>
        </div>          
      </div>
      <div class="row form-group">
        <div class="col-md-2"><label>Gender</label></div>
        <div class="col-md-6">
          <label class="radio-inline">
            <input type=radio name=gender [(ngModel)]="student.gender" value="M" />Male
          </label>
          <label class="radio-inline">  
            <input type=radio name=gender [(ngModel)]="student.gender" value="F"/>Female
          </label>
        </div>        
      </div>
      <div class="row form-group">
        <div class="col-md-2"><label>Course</label></div>
        <div class="col-md-6">          
          <select name=course class="form-control" [(ngModel)]="student.course">
            <option value="-1">-:Select:-</option>
            <option *ngFor="let course of courseList" [ngValue]="course">
              {{course.name}}
            </option>
          </select>
        </div>        
      </div>
      <div class="row form-group">
        <div class="col-md-2"><label>Reffered By</label></div>
        <div class="col-md-6">          
          <label class="checkbox-inline"><input type="checkbox" name=refferedBy1 [(ngModel)]="student.refferedBy" value="NEWS">News</label>
          <label class="checkbox-inline"><input type="checkbox" name=refferedBy2 [(ngModel)]="student.refferedBy" value="FRIEND">Friends</label>
          <label class="checkbox-inline"><input type="checkbox" name=refferedBY3 [(ngModel)]="student.refferedBy" value="FB">FaceBook</label>
          <label class="checkbox-inline"><input type="checkbox" name=refferedBy4 [(ngModel)]="student.refferedBy" value="ADVERTISEMENT">Advertisement</label>
        </div>        
      </div>      
      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-info" [disabled]="frm.invalid">Submit</button>
        </div>
      </div>
    </form>  
  </div>
  <div class="card-footer">
    <div class="row" *ngIf="frm.valid && isSubmitted">
      <div class="col">
        RollNo is : {{student.rollNo}}
      </div>
      <div class="col">
        Name is : {{student.rollNo}}
      </div>
    </div>    
  </div>
</div>
